# Lab 1: Logistic Regression

## Lab Instruction 

In this lab, you are to create a logistic regression model to predict the sale price of <br>
houses (Low, High) from a given set of attributes. <br>
The data file is`lab1_dataset.csv` <br>
Note that you need to explore and process/drop attributes, <br>
and map numerical values of sale prices to categorical values (Low, High)

###  1. Import the Dataset and Learn About the Data

In [1]:
import pandas as pd
dataIn = pd.read_csv("lab1_dataset.csv",sep=",")
print(dataIn.shape)
dataIn.head(10)

(1460, 22)

,Id,Foundation,1stFlrSF,KitchenQual,Fireplaces,HeatingQC,FullBath,BsmtQual,OpenPorchSF,GarageYrBlt,...,BsmtFinType1,YearBuilt,GarageArea,TotRmsAbvGrd,GarageCars,GrLivArea,YearRemodAdd,LotFrontage,Fence,SalePrice
0,1,PConc,856,Gd,0,Ex,2,Gd,61,2003.0,...,GLQ,2003,548,8,2,1710,2003,65.0,NaN,208500
1,2,CBlock,1262,TA,1,Ex,2,Gd,0,1976.0,...,ALQ,1976,460,6,2,1262,1976,80.0,NaN,181500
2,3,PConc,920,Gd,1,Ex,2,Gd,42,2001.0,...,GLQ,2001,608,6,2,1786,2002,68.0,NaN,223500
3,4,BrkTil,961,Gd,1,Gd,1,TA,35,1998.0,...,ALQ,1915,642,7,3,1717,1970,60.0,NaN,140000
4,5,PConc,1145,Gd,1,Ex,2,Gd,84,2000.0,...,GLQ,2000,836,9,3,2198,2000,84.0,NaN,250000
5,6,Wood,796,TA,0,Ex,1,Gd,30,1993.0,...,GLQ,1993,480,5,2,1362,1995,85.0,MnPrv,143000
6,7,PConc,1694,Gd,1,Ex,2,Ex,57,2004.0,...,GLQ,2004,636,7,2,1694,2005,75.0,NaN,307000
7,8,CBlock,1107,TA,2,Ex,2,Gd,204,1973.0,...,ALQ,1973,484,7,2,2090,1973,NaN,NaN,200000
8,9,BrkTil,1022,TA,2,Gd,2,TA,0,1931.0,...,Unf,1931,468,8,2,1774,1950,51.0,NaN,129900
9,10,BrkTil,1077,TA,2,Ex,1,TA,4,1939.0,...,GLQ,1939,205,5,1,1077,1950,50.0,NaN,118000

###  2. Preprocessing

Use techniques that you have learned to preprocess the data. For example, 
-  Remove non-informative features
-  Remove features with too many NA
-  Remove rows with incomplete data
-  Remove features with highly unbalanced labels
-  Encode categorical variables as appropriate

In [2]:
print("NA Percentage(%)")
print((dataIn.isna().sum()/dataIn.shape[0])*100)

NA Percentage(%)
Id               0.000000
Foundation       0.000000
1stFlrSF         0.000000
KitchenQual      0.000000
Fireplaces       0.000000
HeatingQC        0.000000
FullBath         0.000000
BsmtQual         2.534247
OpenPorchSF      0.000000
GarageYrBlt      5.547945
ExterQual        0.000000
OverallQual      0.000000
BsmtFinType1     2.534247
YearBuilt        0.000000
GarageArea       0.000000
TotRmsAbvGrd     0.000000
GarageCars       0.000000
GrLivArea        0.000000
YearRemodAdd     0.000000
LotFrontage     17.739726
Fence           80.753425
SalePrice        0.000000
dtype: float64

We will see the column Fence has too many Na (About 80%) then drop it

In [3]:
#ID cannot use to predict
clean_nonInformative = dataIn.drop(['Id','Fence'],axis=1)# fence too many NaN

In [4]:
# Clean row that has Na value
clean_row_na = clean_nonInformative.dropna(how='any')
clean_row_na.select_dtypes(exclude = ['int64','float64']).describe()

       Foundation KitchenQual HeatingQC BsmtQual ExterQual BsmtFinType1
count        1103        1103      1103     1103      1103         1103
unique          5           4         5        4         4            6
top         PConc          TA        Ex       TA        TA          Unf
freq          527         528       602      486       647          347

Replace All String(Text) with number(Encode)

In [5]:
codebook1 = {'Ex':5,'Gd':4,'TA':3,'Fa':2,'Po':1} # Excellent, Good, Typical, Fair, Poor
codebook2 = {'Unf':5,'GLQ':6,'ALQ':4,'BLQ':3,'Rec':2,'LwQ':1}
codebook3 = {'PConc':6,'CBlock':5,'Slab':4,'BrkTil':3,'Stone':2,'Wood':1 }
data_encode1 = clean_row_na.replace(codebook1)
data_encode1 = data_encode1.replace(codebook2)
data_encode1 = data_encode1.replace(codebook3)

In [6]:
data_encode1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1103 entries, 0 to 1459
Data columns (total 20 columns):
Foundation      1103 non-null int64
1stFlrSF        1103 non-null int64
KitchenQual     1103 non-null int64
Fireplaces      1103 non-null int64
HeatingQC       1103 non-null int64
FullBath        1103 non-null int64
BsmtQual        1103 non-null int64
OpenPorchSF     1103 non-null int64
GarageYrBlt     1103 non-null float64
ExterQual       1103 non-null int64
OverallQual     1103 non-null int64
BsmtFinType1    1103 non-null int64
YearBuilt       1103 non-null int64
GarageArea      1103 non-null int64
TotRmsAbvGrd    1103 non-null int64
GarageCars      1103 non-null int64
GrLivArea       1103 non-null int64
YearRemodAdd    1103 non-null int64
LotFrontage     1103 non-null float64
SalePrice       1103 non-null int64
dtypes: float64(2), int64(18)
memory usage: 181.0 KB

In [7]:
#Get Correclation Coefficient
# data_encode1.corr()

Check Unbalance Label

In [8]:
print(data_encode1['Foundation'].value_counts(1))
cleaned_high_unb1 = data_encode1.drop('Foundation',axis=1)

6    0.477788
5    0.404352
3    0.110607
2    0.005440
1    0.001813
Name: Foundation, dtype: float64

In [9]:
print(data_encode1['KitchenQual'].value_counts(1))

3    0.478694
4    0.418858
5    0.083409
2    0.019039
Name: KitchenQual, dtype: float64

In [10]:
print(data_encode1['HeatingQC'].value_counts(1))
cleaned_high_unb2 = cleaned_high_unb1.drop(['HeatingQC'],axis=1)

5    0.545784
3    0.270172
4    0.158658
2    0.024479
1    0.000907
Name: HeatingQC, dtype: float64

In [11]:
print(data_encode1['BsmtQual'].value_counts(1))

3    0.440617
4    0.427017
5    0.103354
2    0.029012
Name: BsmtQual, dtype: float64

In [12]:
print(data_encode1['ExterQual'].value_counts(1))

3    0.586582
4    0.364461
5    0.042611
2    0.006346
Name: ExterQual, dtype: float64

In [13]:
print(data_encode1['BsmtFinType1'].value_counts(1))

5    0.314597
6    0.297371
4    0.146872
3    0.095195
2    0.095195
1    0.050771
Name: BsmtFinType1, dtype: float64

In [14]:
cleaned_high_unb2.head(20).shape

(20, 18)

In [15]:
cleaned_data = cleaned_high_unb2
cleaned_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1103 entries, 0 to 1459
Data columns (total 18 columns):
1stFlrSF        1103 non-null int64
KitchenQual     1103 non-null int64
Fireplaces      1103 non-null int64
FullBath        1103 non-null int64
BsmtQual        1103 non-null int64
OpenPorchSF     1103 non-null int64
GarageYrBlt     1103 non-null float64
ExterQual       1103 non-null int64
OverallQual     1103 non-null int64
BsmtFinType1    1103 non-null int64
YearBuilt       1103 non-null int64
GarageArea      1103 non-null int64
TotRmsAbvGrd    1103 non-null int64
GarageCars      1103 non-null int64
GrLivArea       1103 non-null int64
YearRemodAdd    1103 non-null int64
LotFrontage     1103 non-null float64
SalePrice       1103 non-null int64
dtypes: float64(2), int64(16)
memory usage: 163.7 KB

### 3. Model Training 
We will use Scikit-learn package to build a model.
- http://scikit-learn.org/stable/

Model Evaluation Method
- Split into train set and test set

In [23]:
data_x = cleaned_data.drop(['SalePrice'],axis = 1)
data_y = cleaned_data.SalePrice

from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(data_x, data_y, test_size = 0.4)
print("Train:",x_train.shape, y_train.shape) 
print("Test:",x_test.shape, y_test.shape)

Train: (661, 17) (661,)
Test: (442, 17) (442,)

- Fit Logistic Regression model

In [24]:
from sklearn import linear_model

lr = linear_model.LogisticRegression()
lr.fit(x_train,y_train)

yhat_test = lr.predict(x_test)
yhat_train = lr.predict(x_train)
# print(y_test)
# print(yhat_test)
# print(y_train)
# print(yhat_train)

### 4. Model Tuning &  Result Analysis 

Analyze the model results. Do you think the model is good enough? <br>
Does it overfit or underfit the data? <br>
Explain and provide evidence to support your claims.

In [25]:
from sklearn.metrics import accuracy_score

acc_train = accuracy_score(y_train,yhat_train)
print("Accuracy score for train dataset:{} %".format('%0.2f'%(acc_train*100)))
acc_train = accuracy_score(y_test,yhat_test)
print("Accuracy score for train dataset:{} %".format('%0.2f'%(acc_train*100)))

Accuracy score for train dataset:63.84 %
Accuracy score for train dataset:1.13 %

Model is Overfitting because the equation in the model was tuning to fit the training_set already. When the testing_set(other data) come the model cannot fit the data then the accuracy is about 0.5-1% but the model can predict the trend then we have to define price to range ex. 0-10000 is low, 10001-20000 is medium, >20001 is high

### 5. (Optional) Mutlinomial Logistic Regression Model

Binning the sale price into three classes : `Low`, `Medium`, `High`.
Then, apply the logistic regression model and evaluate the model performance. <br>
See http://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LogisticRegression.html

In [26]:
import pandas as pd
cleaned_encoded_data = cleaned_data.copy()

Set range to saleprice

In [27]:
cleaned_encoded_data['SalePrice'] = pd.qcut(cleaned_data['SalePrice'], q=[0,0.33,0.66,1], labels=['Low','Medium','High'])

### Train-Test Split

In [28]:
data_x = cleaned_encoded_data.drop(['SalePrice'],axis = 1)
data_y = cleaned_encoded_data.SalePrice

In [29]:
x_train, x_test, y_train, y_test = train_test_split(data_x, data_y, test_size = 0.4)
print("Train:",x_train.shape, y_train.shape) 
print("Test:",x_test.shape, y_test.shape)

Train: (661, 17) (661,)
Test: (442, 17) (442,)

### Model Training

In [30]:
lr = linear_model.LogisticRegression()
lr.fit(x_train,y_train)

yhat_test = lr.predict(x_test)
yhat_train = lr.predict(x_train)

### Evaluation

In [31]:
acc_train = accuracy_score(y_train,yhat_train)
print("Accuracy score for train dataset:{} %".format('%0.2f'%(acc_train*100)))
acc_test = accuracy_score(y_test,yhat_test)
print("Accuracy score for test dataset:{} %".format('%0.2f'%(acc_test*100)))

Accuracy score for train dataset:77.00 %
Accuracy score for test dataset:78.05 %